.accordion {
    &>label{
        padding-inline: 1rem;
    }
    &>label::before {
        content: 'Read More';
    }

    &>input[type=checkbox]:checked~label::before {
        content: 'Read Less';
    }
}