@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply scroll-smooth box-border;

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 7px;
    }

    &::-webkit-scrollbar {
        width: 7px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 7px;
        background-color: var(--fallback-p, oklch(var(--p)));
    }
}

.fluid_container {
    @apply ~sm/2xl:~max-w-[40rem]/[80rem] mx-auto;
}

.aa-Panel {
    z-index: 9999;
}

.aa-PanelLayout {
    @apply divide-y divide-gray-100 !max-h-96;
}

.aa-ItemContentTitle{
    @apply line-clamp-2 text-gray-900 dark:text-gray-100;
}

// @import '../../node_modules/flickity/css/flickity.css';

// @import './custom/misc';
// @import './custom/heroCarousel';
// @import './custom/categoriesCard';
// @import './custom/rangeSlider';
// @import './custom/animationFourZeroFour';
// @import './transitions/menu-transition';
// @import './custom/datePicker';
// @import './custom/megamenu';
// @import './custom/carousel_next_prev';
// @import './custom/text_marquee';
// @import './custom/custom_scroll_bars';